:root {
  --bg-color: #f4f4f4;
  --header-bg: #7465C3;
  --text-color: #333;
  --link-hover-bg: #FF6347;
  --completed-color: green;
  --card-bg: #ecf0f1;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--bg-color) url(https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png) no-repeat center center fixed;
  color: var(--text-color);
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
}

header {
  background-color: var(--header-bg);
  color: #fff;
  padding: 0.5rem 0;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#role:hover {
  animation: changeRole 6s infinite;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #bdc3c7;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  background-color: var(--header-bg);
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  background-color: var(--link-hover-bg);
}

main {
  padding: 2rem 0;
  position: relative;
  top: 150px;
}

section {
  margin-bottom: 2rem;
}

section h2 {
  border-bottom: 2px solid var(--header-bg);
  padding-bottom: 0.5rem;
}

.profile-pic {
  display: block;
  margin: 1rem auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  background: var(--card-bg);
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 5px;
}

.completed {
  color: var(--completed-color);
  font-weight: bold;
}

footer {
  background-color: var(--header-bg);
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer address {
  margin: 0;
  font-style: normal;
}

footer a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .container {
      width: 90%;
  }

  header h1 {
      font-size: 2rem;
  }

  header h2 {
      font-size: 1.2rem;
  }

  nav ul li {
      display: block;
      margin: 0.5rem 0;
  }

  main {
      padding: 1rem 0;
  }

  section h2 {
      font-size: 1.5rem;
  }
}
